<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053664262910-ptngi716ouh0ob3eee0jr0nbfp5envar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053664262910-ptngi716ouh0ob3eee0jr0nbfp5envar</string>
	<key>API_KEY</key>
	<string>AIzaSyA3B3RcWzwoISvg_Rb2tEniJSerVX3pgsw</string>
	<key>GCM_SENDER_ID</key>
	<string>1053664262910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.enterprize</string>
	<key>PROJECT_ID</key>
	<string>enterprize-76cfe</string>
	<key>STORAGE_BUCKET</key>
	<string>enterprize-76cfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053664262910:ios:3ed9a516a48bf27692c3af</string>
</dict>
</plist>